*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.pp{
    height:300px;
    width:300px;
    border-radius:50%;
    overflow:hidden;
}
.pp img{
    height:100%;
    width:100%;

}
body{
    background-image: url("image.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}
.profile_container{
    color:darkgreen;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    padding:30px;
    height:300px;
    width:300px;
    text-align:center;
    
}
a{
    text-container:none;
    color:white;
}