div {
    height: 30px;
    width: auto;
    list-style-type: none;
    margin: 30px;
    background-color: black;
    color: white;
    padding: 40px;
    border: 2px solid white;
}

div input[type="text"]:hover {
    cursor: text; 
}

div a {
    text-decoration: none;
    margin-right: 60px;
    color: white; 
}
